  .container{
    margin-top: 2%;
    display: block;
    color: white;    
  }
  h1 {
    padding-top: 10%;
    padding-bottom: 2%;
    padding-left : 14% ;
    text-shadow: 3px 1px 0px #1A401A;
    font-size: 320%;
  }
  .heading{
    padding: 8%;
  }
  #contactText{
    padding-bottom: 5% ;
    padding-left : 3%;
    padding-right : 3%;
  }
  .img-fluid{
    height: 100%;
  }
.text{
  padding: 2% 12%;
  font-size: 102%;
  text-shadow: 3px 1px 0px #1A401A;
}
.clearfix{
  overflow:hidden
}