.homeTitle{     
    text-align: left; 
    padding-left: 14%;
}
.calculationBtn{
    background-color: #3C8117;
    width: 60%;
    border: 12px solid #3C8117;
    border-radius: 20%;
    margin: 3% 5%;
    color: white;
    font-size: 80%;
    float: right;
}

.calculate-wrapper{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
    text-align: left;
}

.map{
    padding: 4%;
}