.site-footer {
    background-color: #8EE080;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}
ul.social-links-list li {        
    margin-right: 25px;
    display: inline-block;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer-grids{
    text-align: center;
    padding-left: 6%;
}
.img-footlink{
    width: 100%;
    height: 100%;
  }
.mid-footer{
    color: white;
}
.joinBlog{ 
background-color: #42210B ;
padding: 4%;
color: white;
border: 2px solid #42210B;
border-radius: 20%;
}
.joinBlog a{
  display: flex;
}
.footLinks{
  color: #8EE080;
}
.footLinks:hover{
  color: white;
}
li a, a:hover{
  text-decoration: none;
}
a{
  color: white;
} 
a:hover{
  color: #265725;
}